/target
report/_minted-main
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.pdf
report/main.synctex.gz
report/main.xdv
report/test.aux
report/test.fdb_latexmk
report/test.fls
report/test.log
report/test.pdf
report/test.synctex.gz
report/test.tex
report/test.xdv
cache.txt
.vscode
